#### Data Indicators from our Database Historic Prices

In [65]:
import os
import sqlite3
import pandas as pd
import numpy as np

#### Load our Data

In [2]:
# Load from price table
# Convert string columns to float values
# Replace "-" prices with Close values
# Remove All Volumes that have zero trading

In [80]:
# Heavy function to retreive all prices from database (more than 5 million rows, takes many seconds to execute)
def get_all_prices():
    conn = sqlite3.connect("TSX_Quality.sqlite")
    sql = f"SELECT * FROM prices_daily ORDER BY UPPER(Ticker) ASC, Date DESC"
    prices = pd.read_sql_query(sql, conn, index_col="Date")
    prices.index = pd.to_datetime(prices.index)
    
    # Clean up CSV data to make sure we have only floats and no "-" values
    prices.replace("-", np.NaN, inplace=True)
    prices["Open"] = prices["Open"].astype(float)
    prices["High"] = prices["High"].astype(float)
    prices["Low"]  = prices["Low"].astype(float)
    prices["Close"]= prices["Close"].astype(float)
    
    #prices = pd.read_sql_query(sql, conn, index_col="ticker")
    #prices.drop("index", axis=1, inplace=True)
    
    return prices

prices = get_all_prices()

In [82]:
prices.dtypes
prices

           Ticker   Open   High    Low  Close   Volume
Date
2022-01-07      A   0.63   0.63   0.63   0.63      0.0
2022-01-06      A   0.63   0.63   0.63   0.63      0.0
2022-01-05      A    NaN    NaN    NaN   0.63      0.0
2022-01-04      A    NaN    NaN    NaN   0.63      0.0
2021-12-31      A    NaN    NaN    NaN   0.63      0.0
...           ...    ...    ...    ...    ...      ...
2019-01-17   ZZZD  30.46  30.46  30.17  30.40  22735.0
2019-01-16   ZZZD  30.59  30.59  30.25  30.30  31847.0
2019-01-15   ZZZD  30.10  30.24  30.10  30.23  27469.0
2019-01-14   ZZZD  30.06  30.13  30.00  30.07  38167.0
2019-01-11   ZZZD  30.23  30.23  30.22  30.22   1135.0

[5963976 rows x 6 columns]

In [99]:
prices_per_ticker = prices.groupby(["Ticker"])
prices_per_ticker.get_group("SHOP")
#prices_per_ticker.get_group("SHOP")["Close"].rolling(window=200).mean()

Date
2022-01-07        NaN
2022-01-06        NaN
2022-01-05        NaN
2022-01-04        NaN
2021-12-31        NaN
               ...
2014-09-01    2.09255
2014-08-29    1.92285
2014-08-28    1.75580
2014-08-27    1.58505
2014-08-26    1.41960
Name: Close, Length: 1868, dtype: float64